<h3>Footer</h3>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<% include ../../client/vendor-legacy-js.html %>
<% include ../../client/vendor-js.html %>
<% include ../../client/index-js.html %>
